$--unnamed-color-f4f4f6: #F4F4F6;
$background-light: #FDFBEB;
$light: #FFFFFF;
$--unnamed-color-f7f8f9: #F7F8F9;
$--unnamed-color-e3e3e3: #E3E3E3;
$gray-light: #BCBCBC;
$gray: #777777;
$dark-light: #1B1C1D;
$green: #007134;
$dark: #000000;